.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;

  & .game-score {
    align-self: center;
    font-weight: 700;
    font-size: 2rem;

    & span {
      font-size: 1.25rem;
    };

  }
}